<!-- base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BBE site{% endblock %}</title>
    {% block extrahead %}
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="company-name">Mihas users list</div>
    </header>
    {% block content %}
    <!-- Основное содержимое страницы -->
    {% endblock %}
    <footer>
        <div class="footer-content">
            Created by Miha
        </div>
    </footer>
</body>
</html>